@import "../colors/colors.scss";

* {
    all: unset;
    background-color: $background;
    color: $foreground;
    
}


.wifi {
    padding: 0px;
    border: 3px solid $color2;
    border-radius: 10px;
    background-color: $background;
}