#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],

    background_color: "{{background}}",
    text_color: "{{foreground}}",
    header_background_color: "{{color0}}",
    modal_background_color: "{{color0}}",
    modal_backdrop: false,

    preview_label_style: (fg: "{{color3}}"),
    preview_metadata_group_style: (fg: "{{color3}}", modifiers: "Bold"),

    tab_bar: (
        active_style: (fg: "{{background}}", bg: "{{color4}}", modifiers: "Bold"),
        inactive_style: (fg: "{{color8}}"),
    ),

    highlighted_item_style: (fg: "{{color6}}", modifiers: "Bold"),
    current_item_style: (fg: "{{background}}", bg: "{{cursor}}", modifiers: "Bold"),

    borders_style: (fg: "{{color4}}"),
    highlight_border_style: (fg: "{{color6}}"),

    symbols: (
        song: "S",
        dir: "D",
        playlist: "P",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),

    level_styles: (
        info:  (fg: "{{color4}}", bg: "{{background}}"),
        warn:  (fg: "{{color3}}", bg: "{{background}}"),
        error: (fg: "{{color1}}", bg: "{{background}}"),
        debug: (fg: "{{color2}}", bg: "{{background}}"),
        trace: (fg: "{{color5}}", bg: "{{background}}"),
    ),

    progress_bar: (
        symbols: ["[[", "─", "➜", " ", "]]"],
        track_style:   (fg: "{{color0}}"),
        elapsed_style: (fg: "{{color4}}"),
        thumb_style:   (fg: "{{cursor}}", bg: "{{color0}}"),
        use_track_when_empty: false,
    ),

    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "{{color4}}"),
    ),

    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album),
                style: (fg: "{{color7}}"),
                default: (kind: Text("Unknown Album"), style: (fg: "{{color7}}"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],

    components: {},

    layout: Split(
        direction: Vertical,
        panes: [
            (pane: Pane(Header), size: "2"),
            (pane: Pane(Tabs), size: "3"),
            (pane: Pane(TabContent), size: "100%"),
            (pane: Pane(ProgressBar), size: "1"),
        ],
    ),

    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "{{color3}}", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(
                        playing_label: "Playing",
                        paused_label: "Paused",
                        stopped_label: "Stopped"
                    ))), style: (fg: "{{color3}}", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "{{color3}}", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)),
                        style: (fg: "{{foreground}}", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "{{color4}}")),
                    (kind: Property(Widget(Volume)), style: (fg: "{{color4}}"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)),
                        style: (fg: "{{color3}}", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "{{color3}}", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "{{color7}}", modifiers: "Bold"),
                            separator_style: (fg: "{{color7}}")
                        ))),
                        style: (fg: "{{color8}}")
                    ),
                ]
            ),
        ],
    ),

    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],

    lyrics: (
        timestamp: false
    )
)
