@import "../../../pywal/colors.scss"


* {
    all:unset;
}

.corner-frame {  
  background-color: transparent;  
  border: 10px solid $background;  
  border-radius: 10px;
}


.bar {
    background-color: $background;
}
