// SCSS variables
$wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/dark-floral.png";
$background: #18181B;
$foreground: #BBC2CA;
$cursor: #6F7781;

$color0: #3F3F42;
$color1: #28273C;
$color2: #242C39;
$color3: #383654;
$color4: #2F4052;
$color5: #404B67;
$color6: #3C5267;
$color7: #95A0AB;

$color8: #687077;
$color9: #28273C;
$color10: #242C39;
$color11: #383654;
$color12: #2F4052;
$color13: #404B67;
$color14: #3C5267;
$color15: #95A0AB;
