:root {
    --wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/a_blue_and_pink_sky_over_a_mountain_range.png";
    --background: #26272E;
    --cursor: #84A3C4;
    --foreground: #F5F8FE

    --color0: #4C4C54;
    --color1: #1B2549;
    --color2: #144E8A;
    --color3: #3386C1;
    --color4: #8AD1F2;
    --color5: #FFE1FA;
    --color6: #E2ECFC;
    --color7: #E8EDF5;

    --color8: #A2A6AC;
    --color9: #1B2549;
    --color10: #144E8A;
    --color11: #3386C1;
    --color12: #8AD1F2;
    --color13: #FFE1FA;
    --color14: #E2ECFC;
    --color15: #E8EDF5;
}