// SCSS variables
$wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/Lines.png";
$background: #19181C;
$foreground: #C0C2D8;
$cursor: #6E7288;

$color0: #403F43;
$color1: #141A28;
$color2: #1C2137;
$color3: #272A49;
$color4: #313960;
$color5: #3F467A;
$color6: #4A5290;
$color7: #9CA0BF;

$color8: #6D7086;
$color9: #141A28;
$color10: #1C2137;
$color11: #272A49;
$color12: #313960;
$color13: #3F467A;
$color14: #4A5290;
$color15: #9CA0BF;
