:root {
    --wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/black_box.png";
    --background: #0D0000;
    --cursor: #D0A498;
    --foreground: #FADBD4

    --color0: #221B18;
    --color1: #805546;
    --color2: #A66D5D;
    --color3: #B87967;
    --color4: #CB8673;
    --color5: #D88F7C;
    --color6: #F09983;
    --color7: #EFC4B9;

    --color8: #A78981;
    --color9: #805546;
    --color10: #A66D5D;
    --color11: #B87967;
    --color12: #CB8673;
    --color13: #D88F7C;
    --color14: #F09983;
    --color15: #EFC4B9;
}