// SCSS variables
$wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/ancient-ruins-overgrown-nature-desktop-wallpaper.jpg";
$background: #1C1E23;
$foreground: #F8F9F1;
$cursor: #8E9B8D;

$color0: #43444A;
$color1: #0E1E37;
$color2: #253C28;
$color3: #906E52;
$color4: #5CA591;
$color5: #A4B125;
$color6: #EAEFD8;
$color7: #ECEFE3;

$color8: #A5A79F;
$color9: #0E1E37;
$color10: #253C28;
$color11: #906E52;
$color12: #5CA591;
$color13: #A4B125;
$color14: #EAEFD8;
$color15: #ECEFE3;
