// SCSS variables
$wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/kawi.jpg";
$background: #170F0F;
$foreground: #F0FAF2;
$cursor: #B4AFAB;

$color0: #3F3837;
$color1: #1D4952;
$color2: #796463;
$color3: #F6638D;
$color4: #849AA8;
$color5: #D5B4A3;
$color6: #D4F1DB;
$color7: #E1F0E5;

$color8: #9EA8A0;
$color9: #1D4952;
$color10: #796463;
$color11: #F6638D;
$color12: #849AA8;
$color13: #D5B4A3;
$color14: #D4F1DB;
$color15: #E1F0E5;
