:root {
    --wallpaper: "/home/zyxtyz/.config/zyxtarch/wallpapers/leaves.jpg";
    --background: #20211E;
    --cursor: #958074;
    --foreground: #D9D3CD

    --color0: #464744;
    --color1: #1D2217;
    --color2: #512D1C;
    --color3: #374340;
    --color4: #6A4E38;
    --color5: #646152;
    --color6: #92806F;
    --color7: #C0B7AE;

    --color8: #86807A;
    --color9: #1D2217;
    --color10: #512D1C;
    --color11: #374340;
    --color12: #6A4E38;
    --color13: #646152;
    --color14: #92806F;
    --color15: #C0B7AE;
}