/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0d151f !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c4c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c4c7; background-color: rgba(103,140,162,0.4)}
.cm-s-nqqwal { background-color: #0d151f; color: #c2c4c7; }
.cm-s-nqqwal span.cm-builtin { color: #4B5A9C; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5c6571; }
.cm-s-nqqwal span.cm-keyword { color: #54788F; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #5D839B; }
.cm-s-nqqwal span.cm-def { color: #61869D; }
.cm-s-nqqwal span.cm-variable { color: #678CA2; }
.cm-s-nqqwal span.cm-variable-2 { color: #61869D; }
.cm-s-nqqwal span.cm-string { color: #4B5A9C; }
.cm-s-nqqwal span.cm-string-2 { color: #4B5A9C; }
.cm-s-nqqwal span.cm-number { color: #61869D; }
.cm-s-nqqwal span.cm-tag { color: #54788F; }
.cm-s-nqqwal span.cm-property { color: #678CA2; }
.cm-s-nqqwal span.cm-attribute { color: #678CA2; }
.cm-s-nqqwal span.cm-qualifier { color: #5D839B; }
.cm-s-nqqwal span.cm-meta { color: #61869D; }
.cm-s-nqqwal span.cm-header { color: #54788F; }
.cm-s-nqqwal span.cm-operator { color: #54788F; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(97,134,157,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #54788F; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0d151f); }
