@define-color foreground #c2c4c7;
@define-color background #0d151f;
@define-color cursor #c2c4c7;

@define-color color0 #0d151f;
@define-color color1 #445293;
@define-color color2 #4B5A9C;
@define-color color3 #54788F;
@define-color color4 #5D839B;
@define-color color5 #61869D;
@define-color color6 #678CA2;
@define-color color7 #c2c4c7;
@define-color color8 #5c6571;
@define-color color9 #445293;
@define-color color10 #4B5A9C;
@define-color color11 #54788F;
@define-color color12 #5D839B;
@define-color color13 #61869D;
@define-color color14 #678CA2;
@define-color color15 #c2c4c7;
